<div class="grid">
					<h1>Portfolio</h1>
					<figure>
						<img src="img/value.jpg" alt="The value of money">
						<figcaption>Earth is our only home</figcaption>
					</figure>
					<figure>
						<img src="img/food.jpg" alt="The value of money">
						<figcaption>Our fuel</figcaption>
					</figure>
					<figure>
						<img src="img/organic.jpg" alt="The value of money">
						<figcaption>Organic is best</figcaption>
					</figure>
					<figure>
						<img src="img/green.jpg" alt="The value of money">
						<figcaption>Green earth safe earth</figcaption>
					</figure>
					<figure>
						<img src="img/connect.jpg" alt="The value of money">
						<figcaption>Stay connected</figcaption>
					</figure>
					<figure>
						<img src="img/travel.jpg" alt="The value of money">
						<figcaption>Travel more</figcaption>
					</figure>
				</div>